# seperate env files two. .env.dev and .env.prod

NODE_ENV=dev
APP_PORT=3000
API_PREFIX=api
APP_NAME=SET_SOMETHING_HERE

JWT_SECRET=SET_SOMETHING_HERE
JWT_EXPIRE_TIME_ACCESS=30m
JWT_EXPIRE_TIME_REFRESH=15d

# the value "cache" is for connection with compose service
REDIS_HOST=cache
REDIS_PORT=6379